/* style sheet for all templates */

body {
    background-color: cornsilk;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

#content-wrap {
    padding-top: 0px;
    margin: 0px;
    padding-bottom: 2.5rem;    /* Footer height */
}

#auth_title span {
    font-size: 4.5em;
    font-weight: bold;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 4px groove;
}

#home_footer {
    height: 2.5rem;
    bottom: 10px;
    width: 100%;
    text-align: center;
    padding-bottom: 0px;
    font-size: 2em;
    font-weight: bolder;
    color: #c3e6cb;
    font-family: "Lucida Console", "Courier New", monospace;
    -webkit-text-stroke: 1px rgb(0, 82, 0);
    text-shadow:
        3px 3px 0 rgb(0, 82, 0),
        -1px -1px 0 rgb(0, 82, 0),  
        1px -1px 0 rgb(0, 82, 0),
        -1px 1px 0 rgb(0, 82, 0),
        1px 1px 0 rgb(0, 82, 0);
}

#title h1 {
    font-size: 4em;
    font-weight: bolder;
    color: #c3e6cb;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    -webkit-text-stroke: 1px rgb(0, 82, 0);
    text-shadow:
        3px 3px 0 rgb(0, 82, 0),
        -1px -1px 0 rgb(0, 82, 0),  
        1px -1px 0 rgb(0, 82, 0),
        -1px 1px 0 rgb(0, 82, 0),
        1px 1px 0 rgb(0, 82, 0);
}

#stats_home h1 {
    font-size: 3em;
    font-weight: bolder;
    color: #c3e6cb;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    -webkit-text-stroke: 1px rgb(0, 82, 0);
    text-shadow:
        3px 3px 0 rgb(0, 82, 0),
        -1px -1px 0 rgb(0, 82, 0),  
        1px -1px 0 rgb(0, 82, 0),
        -1px 1px 0 rgb(0, 82, 0),
        1px 1px 0 rgb(0, 82, 0);
}

#button_div {
    margin: 0 auto;
}

.loader {
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(0, 82, 0); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* nav bar */

nav {
    margin-top: 0px;
    height: 80px;
    background-color: rgb(0, 82, 0);
}
.navbar-header {
    margin-top: 0px;
}

.navbar-header img {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0px;
    margin: 0%;
    background-color: white;
}

.navbar-header span {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 60px;
    padding-left: 100px;
    margin: 0%;
    height: 80px;
    color: white;
}

.nav_link:hover {
    color: white;
}

.nav_link {
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    font-size: 20px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0%;
    height: 80px;
    line-height: 80px;
    white-space: nowrap;
}

/* end nav bar styling */

/* authorize page specific styling */
#auth_footer span, #auth_title span, #auth_content span, #auth_content form label, #login_title, .facts span{
    color: white;
    background-color: rgb(0, 82, 0);
    font-family: "Lucida Console", "Courier New", monospace;
}

#auth_content ul {
    list-style-type: none;
}

#auth_content span {
    font-size: 1.5em;
}

#auth_footer {
    position: absolute;
    height: 2.5rem;
    bottom: 10px;
    width: 100%;
    text-align: center;
    padding-bottom: 0px;
}
/* end authorize page styling */

/* profile page styling */

#profile_page_pic {
    border-radius: 50%;
}

#profile_content {
    padding: 2em;
    margin-top: 3em;
    background-color: #c3e6cb;
}

#right_profile_div {
    font-size: 1.5em;
    text-align: center;
}

#right_profile_div ul {
    background-color: #c3e6cb;
}

#right_profile_div ul li{
    background-color: #c3e6cb;
}

.form_element {
    border-bottom: 4px black groove;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5em;
    margin-top: 1.5em;
}

.form_element span {
    font-weight: bold;
    text-align: center;
}

.skinny {
    margin: 0 auto;
    width: auto;
}
/* end profile page styling */