{% extends "base.html" %}
{% block content %}
    <form id="time_form">
        <fieldset>
            <legend>Time Range</legend>
            <label for="artist_time">Select A Time Range for Artists</label>
            <input list="time_options" id="artist_time" name="artist_time" placeholder="{{ art_range }}">
            <label for="track_time">Select A Time Range for Tracks</label>
            <input list="time_options" id="track_time" name="track_time" placeholder="{{ trk_range }}">
            <datalist id="time_options">
                <option value="All Time">
                <option value="Six Months">
                <option value="Four Weeks">
            </datalist>
            <button id="time_button" name="{{ user.id }}">Select</button>
        </fieldset>
    </form>
    <div class="container" id="stats_home">
        <div class="row">
            <div class="col">
                {% if art_range == "medium_term" or art_range == "short_term" %}
                <h3>Your Top Artists for the last {{ art_range }}:</h3>
                {% else %}
                <h3>Your All Time Top Artists:</h3>
                {% endif %}
                <table class="table table-success table-striped">
                    <thead>
                        <th>Rank</th>
                        <th>Image</th>
                        <th>Name</th>
                    </thead>
                    {% for artist in artists %}
                    <tr>
                        <td>#{{ artist.rank }}</td>
                        <td><img src="{{ artist.image }}" width="160" height="160" alt="image for {{ artist.artist_name }}"></td>
                        <td>{{ artist.artist_name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col">
                {% if trk_range == "medium_term" or trk_range == "short_term" %}
                <h3>Your Top Tracks for the Last {{ trk_range }}:</h3>
                {% else %}
                <h3>Your All Time Top Tracks:</h3>
                {% endif %}
                <table class="table table-success table-striped">
                    <thead>
                        <th>Rank</th>
                        <th>Album Cover</th>
                        <th>Name</th>
                        <th>Artist(s)</th>
                    </thead>
                    {% for track in tracks %}
                    <tr>
                        <td>#{{ track.rank }}</td>
                        <td><img src="{{ track.album_cover }}" width="160" height="160" alt="album cover for {{ track.name }}"></td>
                        <td>{{ track.name }}</td>
                        <td>
                            {% for artist in track.artists %}
                                <p>{{ artist.name }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}