<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statify</title>
    <script src="https://unpkg.com/jquery"></script>
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="content-wrap">
        <nav class="navbar navbar-expand">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="/static/images/statifyFavicon.png" width="80" height="80" alt="logo">
                    <span>STATIFY</span>
                </div>
                <ul class="nav navbar-nav navbar-right">
                {% if not user %}
                <li><a class="nav_link" href="/authorize">Link Your Spotify</a></li>
                {% else %}
                <li>
                    <img src="{{ user.profile_pic_url }}" width="80" height="80" alt="{{ user.display_name }}'s profile picture">
                    <a class="nav_link" href="/profile/{{ user.id }}">{{ user.display_name }}</a>
                </li>
                <li>
                    <a class="nav_link" href="/logout">Log out</a>
                </li>
                {% endif %}
                </ul>
            </div>
        </nav>
        <div id="title">
            <h1>{{ title }}</h1>
        </div>
        <div id="content">
            <form id="time_form">
                <fieldset>
                    <legend>Time Range</legend>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 mb-3">
                            <div class="form-group">
                                <label for="artist_time">Time Range for Artists</label>
                                <select class="form-control" id="artist_time">
                                    <option>All Time</option>
                                    <option>Six Months</option>
                                    <option>Four Weeks</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-4 mb-3">
                            <div class="form-group">
                                <label for="track_time">Time Range for Tracks</label>
                                <select class="form-control" id="track_time">
                                    <option>All Time</option>
                                    <option>Six Months</option>
                                    <option>Four Weeks</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div id="button_container" class="row">
                        <div id="button_div">
                            <button id="time_button" name="{{ user.id }}" class="btn btn-success btn-lg">Select</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="container" id="stats_home">
                <div class="row">
                    <div class="col">
                        <h1>Your All Time Top Artists:</h1>
                        <table class="table table-success table-striped">
                            <thead>
                                <th>Rank</th>
                                <th>Image</th>
                                <th>Name</th>
                            </thead>
                            {% for artist in artists %}
                            <tr>
                                <td>#{{ artists.index(artist) + 1 }}</td>
                                <td><img src="{{ artist['images'][2]['url'] }}" width="160" height="160" alt="image for {{ artist['name'] }}"></td>
                                <td>{{ artist['name'] }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col">
                        <h1>Your All Time Top Tracks:</h1>
                        <table class="table table-success table-striped">
                            <thead>
                                <th>Rank</th>
                                <th>Album Cover</th>
                                <th>Name</th>
                                <th>Artist(s)</th>
                            </thead>
                            {% for track in tracks %}
                            <tr>
                                <td>#{{ tracks.index(track) + 1 }}</td>
                                <td><img src="{{ track['album']['images'][1]['url'] }}" width="160" height="160" alt="album cover for {{ track['name'] }}"></td>
                                <td>{{ track['name'] }}</td>
                                <td>
                                    {% for artist in track['artists'] %}
                                        <p>{{ artist['name'] }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="flash_zone">
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    </div>
    <footer id="home_footer">
        <span>created by: Jack Winford</span><br>
        <span id="modified"></span>
    </footer>
</body>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/script.js"></script>
</html>