<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statify</title>
    <script src="https://unpkg.com/jquery"></script>
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="content-wrap">
        <nav class="navbar navbar-expand">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="/static/images/statifyFavicon.png" width="80" height="80" alt="logo">
                    <span>STATIFY</span>
                </div>
                <ul id="nav_list" class="nav navbar-nav navbar-right">
                {% if not user %}
                <li><a class="nav_link" href="/authorize">Link Your Spotify</a></li>
                {% else %}
                <li>
                    <img src="{{ user.profile_pic_url }}" width="80" height="80" alt="{{ user.display_name }}'s profile picture">
                    <a class="nav_link" href="/profile/{{ user.id }}">{{ user.display_name }}</a>
                </li>
                <li>
                    <a class="nav_link" href="/statistics-home/{{ user.id }}">Stats</a>
                </li>
                <li>
                    <a class="nav_link" href="/logout">Log out</a>
                </li>
                {% endif %}
                </ul>
            </div>
        </nav>
        <div id="title">
            <h1>Your Profile</h1>
        </div>
        <div id="profile_content">
            <div class="row">
                <div class="col-4">
                    <img id="profile_page_pic" src="{{ user.profile_pic_url }}" width="250" height="250" alt="{{ user.display_name }}'s profile picture">
                </div>
                <div class="col-2"></div>
                <div class="col-5" id="right_profile_div">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span>Display name: {{ user.display_name }}</span></li>
                        <li class="list-group-item"><span>Country: {{ user.country }}</span></li>
                        <li class="list-group-item"><a href="{{ user.spotify_link }}" target="_blank">View Your Spotify Page</a></li>
                        <li class="list-group-item"><span>You have {{ user.followers }} followers on Spotify</span></li>
                        <li class="list-group-item">
                            <form id="profile_form">
                                <button class="btn btn-lrg btn-warning" role="button">Edit</button>
                            </form>
                        </li>
                        <li class="list-group-item">
                            <form id="delete_profile_form" action="/delete-user" method="POST">
                                <button class="btn btn-lrg btn-danger" role="button">Delete Account</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div id="flash_zone">
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    </div>
    <footer id="home_footer">
        <span>created by: Jack Winford</span><br>
        <span id="modified"></span>
    </footer>
</body>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/script.js"></script>
</html>