<div class="row">
    <div class="col">
        {% if art_range == "medium_term" %}
        <h3>Your Top Artists For The last Six Months:</h3>
        {% elif art_range == "short_term" %}
        <h3>Your Top Artists For The last Four Weeks:</h3>
        {% else %}
        <h3>Your All Time Top Artists:</h3>
        {% endif %}
        
        {% for artist in artists %}
            <p>rank: {{ artist.rank }}</p>
            <img src="{{ artist.image }}" alt="image for {{ artist.artist_name }}">
            <p>{{ artist.artist_name }}</p>
        {% endfor %}
    </div>
    <div class="col">
        {% if trk_range == "medium_term" %}
        <h3>Your Top Tracks For The Last Six Months:</h3>
        {% elif trk_range == "short_term" %}
        <h3>Your Top Tracks For The Last Four Weeks:</h3>
        {% else %}
        <h3>Your All Time Top Tracks:</h3>
        {% endif %}

        {% for track in tracks %}
            <p>rank: {{ track.rank }}</p>
            <img src="{{ track.album_cover }}" alt="album cover for {{ track.name }}">
            <p>{{ track.name }}</p>
            <p>by:</p>
            {% for artist in track.artists %}
                <p>{{ artist.name }}</p>
            {% endfor %}
        {% endfor %}
    </div>
</div>